html {
    box-sizing: border-box;
    height: 100%;
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('fonts/BebasNeue Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('fonts/BebasNeue Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('fonts/BebasNeue Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('fonts/BebasNeue Regular.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    height: 100%;
    font-family: 'Bebas Neue Regular', sans-serif;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}
.main {
    flex: 1 0 auto;
    background: whitesmoke;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 2;
    position: relative
}
.header, .footer {
    position: relative;
}

.header::before,
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.header {
    background: url(images/bg.png) no-repeat center center / cover;
}

.footer {
    background: url(images/bg.png) no-repeat center center / cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    max-width: 80px;
    padding: 10px 0;
}
.header-logo img {
    max-width: 120px;
}
.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}
.header-link__number {
    display: flex;
    align-items: center;
    gap: 5px;
    color: whitesmoke;
}
.header-link__number svg {
    max-width: 20px;
}
.header-link__order {
    background: darkolivegreen;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.portfolio {
    margin-top: 40px;

}
.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
}
.portfolio-title {
    font-weight: bold;
    color: darkolivegreen;
    font-size: 36px;
    position: relative;
    font-weight: bold;
    font-family: "Bebas Neue Bold" ,sans-serif;
    letter-spacing: 1px;
}

.portfolio__items {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.portfolio__item {
    flex: 0 0 33.3333%;
    box-sizing: border-box;
    padding: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.portfolio__item:hover {
    transform: scale(1.05);
}

.image-display {
    text-align: center;
    margin-top: 20px;
}

#slider-image {
    max-width: 100%;
    height: auto;
    display: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin-top: 80px;
    margin-bottom: 40px;
}
.swiper-slide {
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.swiper-slide-text {
    margin-bottom: 20px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -40px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 30px;
    border-radius: unset;
}
.swiper-pagination-bullet-active {
    background: darkolivegreen;
    width: 60px !important;
}
.footer {
    padding: 10px 0;
}
.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo img {
    max-width: 120px;
}
.bottom-fix {
    display: none;
}


.header-links {
    display: flex;
    gap: 20px;
}

.header-link__number svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.header-link__order {
    text-decoration: none;
    color: #fff;
}
.text {
    padding: 50px 0;
    color: darkolivegreen;
}
.text-about__title {
    font-size: 25px;
    margin-bottom: 15px;
    font-family: "Bebas Neue Bold" ,sans-serif;
    letter-spacing: 1px;

}




@media (max-width: 600px) {
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 30px;
        border-radius: unset;
    }
    .swiper-pagination-bullet-active {
        background: darkolivegreen;
        width: 60px !important;
    }

    .bottom-fix {
        display: block;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 10;
        background: white;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    }
    .bottom-fix__items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0;
    }
    .burger-menu {
        display: block;
    }
    .header-link__number {
        display: none;
    }




}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.form-container h2 {
    margin-top: 0;
}
.form-container label {
    display: block;
    margin-bottom: 8px;
}
.form-container input,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container input[type="date"] {
    padding: 6px 8px;
}
.form-container textarea {
    resize: vertical;
}
.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #45a049;
}
.success-message {
    background: darkolivegreen;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
}
.preloader-overlay, .preloader {
    transition: opacity 0.5s ease;
}

.preloader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9998;
    opacity: 1;
    pointer-events: none; /* Позволяет щелчкам проходить сквозь оверлей */
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 1;
}

.preloader img {
    width: 100px;
    height: auto;
}
